<% layout('./layouts/boilerplate.ejs') %>

<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <div class="card shadow mt-3 mt-xxl-4 mb-5">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form action="/login" method="POST" class="validated" novalidate>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              class="form-control"
              type="text"
              name="username"
              id="username"
              autofocus
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
