<% layout('./layouts/boilerplate.ejs') %>

<h1>Class Home Page</h1>
<% for (let singleClass of classes) { %>
<p>
  <strong>Class:</strong> <%= singleClass.className %>
  <br />
  <a class="btn btn-primary" href="/class/<%= singleClass._id %>">View</a>
</p>
<% } %>
