<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/headers/add-header.ejs', { headerText: 'Add Class'}) %>
<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <form class="validated" action="/class" method="POST" novalidate>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CName">Class Name</label>
        <input
          class="form-control"
          type="text"
          id="CName"
          name="myClass[className]"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CCode">Class Code</label>
        <input
          class="form-control"
          type="text"
          id="CCode"
          name="myClass[classCode]"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="section">Teacher</label>
        <select class="form-select" id="teacher" name="myClass[teacher]">
          <% for (let teacher of teachers) { %>
          <option value="<%= teacher._id %>"><%= teacher.fullName %></option>
          <% } %>
        </select>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="section">Section</label>
        <select class="form-select" id="section" name="myClass[section]">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="subject">Subject</label>
        <select class="form-select" id="subject" name="myClass[subject]">
          <option value="General" selected>General</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Political Science">Political Science</option>
          <option value="History">History</option>
          <option value="Communications">Communications</option>
          <option value="Psychology">Psychology</option>
          <option value="English">English</option>
          <option value="Education">Education</option>
          <option value="Physics">Physics</option>
          <option value="Music">Music</option>
        </select>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="year">Year</label>
        <select class="form-select" id="year" name="myClass[year]">
          <option value="2022" selected>2022</option>
          <option value="2023">2023</option>
        </select>
      </div>
      <br />
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
