<% layout('./layouts/boilerplate.ejs') %>
<div
  class="
    d-flex
    justify-content-center
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>
  <h1 class="h1 text-nowrap">Add Class</h1>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <form class="validated" action="/class" method="POST" novalidate>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="id">Teacher</label>
        <input
          class="form-control"
          type="text"
          id="id"
          name="myClass[teacher]"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CName">Class Name</label>
        <input
          class="form-control"
          type="text"
          id="CName"
          name="myClass[className]"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CCode">Class Code</label>
        <input
          class="form-control"
          type="text"
          id="CCode"
          name="myClass[classCode]"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="section">Section</label>
        <select class="form-select" id="section" name="myClass[section]">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="subject">Subject</label>
        <select class="form-select" id="subject" name="myClass[subject]">
          <option value="General" selected>General</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Political Science">Political Science</option>
          <option value="History">History</option>
        </select>
      </div>
      <br />
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
