<% layout('./layouts/boilerplate.ejs') %>
<%- include('../partials/headers/home-header.ejs', {
  headerText: `<span>Remove Students: </span><span class="text-sm-nowrap">${singleClass.className}</span>`, 
  searchType: 'Student', 
  search: true 
}) %>

<form
  action="/class/<%= singleClass._id %>/removeStudent?_method=PUT"
  method="POST"
>
  <%- include('../partials/tables/student-table.ejs', {
    students: singleClass.studentsInClass.map((entry) => entry.student), 
    num: 1, 
    remove: true, 
    clientPagination: true 
  }) %> 
  <% if (count > 0) { %> 
    <%- include('../partials/pagination.ejs', { 
      url, 
      page: 1, 
      pageLimit: 5, 
      count, 
      clientPagination: true 
    }) %>
  <% } %>
  <button class="btn btn-danger mb-3" type="submit">Remove Students</button>
</form>
