<% layout('./layouts/boilerplate.ejs') %>

<% let buttons = [ { 
  text: 'Mark New Attendance', 
  colorClass: 'btn-outline-primary text-nowrap', 
  link: `/class/${singleClass.id}/attendance/new` 
}] %> 

<%- include('../partials/headers/show-header.ejs', { 
  deleteButton: false, 
  deleteRequest: false, 
  buttons, 
  headerText: `Attendance: <span class="text-sm-nowrap">${singleClass.className}</span>` 
}) %>

  <% if (attendances.length) { %>
    <%- include('../partials/headers/sub-header.ejs', { 
      subHeaderText: `<strong class="fw-lighter">Average Class <span class="text-nowrap">Attendance: </strong>${averageClassAttendance}%</span>`, 
      search: false 
    })  %> 
  <% } %> 

<%- include('../partials/tables/attendance-table.ejs', { 
  attendances, 
  num: 1, 
  singleClass 
}) %>
<% if (count > 0) { %>
  <%- include('../partials/pagination.ejs', { 
    url, 
    page: 1, 
    pageLimit: 5, 
    count, 
    clientPagination: true 
  }) %>
<% } %>