<% layout('./layouts/boilerplate.ejs') %>

<% let buttons = [{
   text: 'Edit', 
   colorClass: 'btn-outline-secondary', 
   link: `/class/${singleClass.id}/attendance/${attendanceDay.id}/edit` 
}] %> 

<%- include('../partials/headers/show-header.ejs', {
  buttons,
  deleteButton: true,
  deleteRequest: `/class/${singleClass.id}/attendance/${attendanceDay.id}?_method=DELETE`,
  headerText: `<span class="text-nowrap">${moment(attendanceDay.date).format('LL')}</span> Attendance: <span class="text-sm-nowrap">${singleClass.className}</span>` 
}) %>
<%- include('../partials/headers/sub-header.ejs', {
  subHeaderText: `<strong class="fw-lighter">Class Attendance: </strong>${Number(Math.round(100*(attendanceDay.numStudentsPresent / singleClass.numStudentsInClass) +'e2') + 'e-2')}%`,
  search: false 
  }) %> 
<%- include('../partials/tables/student-table.ejs', {
  students: singleClass.studentsInClass.map((entry) => entry.student), 
  num: 1, 
  attendanceShow: true, 
  attendanceDay, 
  clientPagination: true 
}) %> 
<% if (count > 0) { %> 
  <%- include('../partials/pagination.ejs', {
    url, 
    page: 1, 
    pageLimit: 5, 
    count, 
    clientPagination: true 
  }) %> 
<% } %>
