<div class="d-flex justify-content-center justify-content-md-end flex-nowrap">
  <input
    type="search"
    name="search"
    class="form-control"
    id="<%= searchType.charAt(0).toLowerCase() + searchType.slice(1) %>Search"
    placeholder="Search <%= type %>"
  />
</div>
