<div
  class="d-flex flex-column flex-lg-row justify-content-center justify-content-sm-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h1">
    <%- headerText %> 
  </h1>
  <%- include('../buttons/button-toolbar.ejs', { buttons, deleteButton, deleteRequest, headerText }) %> 
</div>
