<% layout('./layouts/boilerplate.ejs') %>
<!-- <h1 class="text-center mb-3"><%= singleClass.className %></h1> -->
<div
  class="d-flex justify-content-center justify-content-md-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2 text-nowrap"><%= singleClass.className %></h1>
</div>
<form
  action="/class/<%= singleClass._id %>/addStudent?_method=PUT"
  method="POST"
  enctype="raw"
>
  <%- include('../partials/student-table.ejs', {students, num: 1, add: true}) %>
  <button class="btn btn-outline-primary mb-3" type="submit">
    Add Students
  </button>
</form>
