<% layout('./layouts/boilerplate.ejs') %>
<div
  class="d-flex justify-content-center justify-content-md-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2 text-nowrap"><%= singleClass.className %></h1>
</div>
<form
  action="/class/<%= singleClass._id %>/removeStudent?_method=PUT"
  method="POST"
>
  <%- include('../partials/student-table.ejs', {students:
  singleClass.studentsInClass, num: 1, remove: true}) %>
  <button class="btn btn-outline-danger" type="submit">Remove Students</button>
</form>
