<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/add-header.ejs', { headerText: 'Add Teacher'}) %>

<div class="row">
  <div class="col-6 offset-3">
    <form action="/teacher" method="POST" class="validated" novalidate>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">First Name</label>
        <input
          class="form-control"
          type="text"
          name="firstName"
          id="firstName"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">Last Name</label>
        <input
          class="form-control"
          type="text"
          name="lastName"
          id="lastName"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          id="username"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="password">Password</label>
        <div class="input-group">
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            required
          />
          <span
            class="d-flex align-items-center far fa-eye icon input-group-text"
          ></span>
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="mb-3 col-sm-8 offset-sm-2"></div>
