<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/add-header.ejs', { headerText: 'Update Password'}) %>

<div class="row">
  <div class="col-6 offset-3">
    <form
      action="/teacher/<%= teacherId %>/updatePassword?_method=PUT"
      method="POST"
      class="validated passwordForm"
      novalidate
    >
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="password">Password</label>
        <div class="input-group pw-div">
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            required
          />
          <span
            class="d-flex align-items-center far fa-eye icon input-group-text"
          ></span>
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="password2">Confirm Password</label>
        <div class="input-group pw-div">
          <input
            class="form-control"
            type="password"
            name="password2"
            id="password2"
            required
          />
          <span
            class="d-flex align-items-center far fa-eye icon input-group-text"
          ></span>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback pw-feedback">Passwords must match.</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
