<% layout('./layouts/boilerplate.ejs') %>
<div
  class="d-flex flex-column flex-lg-row justify-content-center justify-content-sm-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h1 text-nowrap">Mark Attendance: <%= singleClass.className %></h1>
</div>

<form
  action="/class/<%= singleClass._id %>/attendance"
  method="POST"
  enctype="raw"
>
  <section class="d-flex justify-content-end container mb-3">
    <!-- <button class="btn btn-primary mx-2" type="submit">Submit</button> -->
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="input-group date" id="datepicker">
        <input
          type="text"
          class="form-control"
          id="date"
          name="date"
          value="<%= date %>"
        />
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
      </div>
    </div>
  </section>
  <%- include('../../partials/student-table.ejs', {students:
  singleClass.studentsInClass, num: 1, attendance: true}) %>
  <button class="btn btn-outline-primary mb-3" type="submit">
    Mark Attendance
  </button>
</form>
