<% layout('./layouts/boilerplate.ejs') %> <%-
include('../../partials/show-header.ejs', {typeName: 'class', type: singleClass,
name: `${singleClass.className}`, attendance: true, attendanceDay:
attendanceDay}) %>

<div
  class="d-flex flex-column flex-lg-row justify-content-center justify-content-sm-between flex-wrap flex-md-nowrap align-items-center mb-3"
>
  <p class="h4">
    <strong class="fw-lighter">Class Attendance: </strong><%= Number(Math.round(
    100*(attendanceDay.numStudentsPresent / singleClass.numStudentsInClass) +
    'e2') + 'e-2') %>%
  </p>
  <a
    class="btn btn-outline-primary"
    href="/class/<%= singleClass._id %>/attendance"
    >Back to Class Attendance</a
  >
</div>

<%- include('../../partials/student-table.ejs', {students:
singleClass.studentsInClass.map((entry) => entry.student), num: 1,
attendanceShow: true, attendanceDay}) %>
