<% layout('./layouts/boilerplate.ejs') %>
<div
  class="d-flex flex-column flex-lg-row justify-content-center justify-content-sm-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h1 text-nowrap">
    <%= moment(attendanceDay.date).format('L') %> Attendance: <%=
    singleClass.className %>
  </h1>
</div>

<p class="h4 mb-4">
  <strong class="fw-lighter">Class Attendance: </strong><%=
  attendanceDay.percentagePresent %>%
</p>

<%- include('../../partials/student-table.ejs', {students:
singleClass.studentsInClass, num: 1, attendanceShow: true, attendanceDay}) %>
